@import '../../../../../styles/variables';

.Header {
  position: relative;
  padding: 5px 22px;
  min-height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;

  &.with-return {
    min-height: 97px;
  }

  .header-title {
    display: flex;
    align-items: center;
    max-height: 40px;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 24px 24px 3px;
      background-color: #fff;
      z-index: 100;
    }

    .logo {
      margin-top: 4px;
      z-index: 100;
      height: 37px;
      margin-right: 7px;
    }

    .title {
      font-size: 22px;
      line-height: 26px;
      font-weight: 500;
      color: $main-text-color;
    }
  }

  .text {
    position: absolute;
    top: 51px;
    padding-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $regular-text-color;
  }

  // *  *  *

  &.blur {
    .header-inner {
      &.fixed {
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(12px);
        border-bottom: 0.96px solid #FBEEFF;
      }
    }
  }

  .header-inner {
    color: $regular-text-color;
    border-bottom: 0.96px solid rgba(153, 135, 157, 0.24);

    .return-icon {
      margin-right: 8px;
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 12px 24px 7px;
      background: #fff;
      z-index: 100;
    }

  }

  .header-item {
    margin-top: 12px;
    display: flex;

    .title {
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;
      color: $main-text-color;
    }

    .image {
      height: 24px;
      margin-right: 9px;
    }
  }
}

@media (min-width: 1024px) {
  .Header {
    max-width: 1440px;
    margin: auto;
  }
}

