.DesktopHeader {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  align-items: center;
  max-width: 80%;
  margin: auto;

  .DesktopHeader-title {
    padding-left: 15px;
    a {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      display: flex;
      align-items: center;
      font-family: Manrope;
      font-weight: 800;
      font-size: 24px;
    }

    .logo {
      height: 30px;
      margin-right: 15px;
    }
  }

  .DesktopNavbar {

    .DesktopNavbar-items {
      list-style: none;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
      }

      .active {
        .navbar-item {
          color: #9279FE;
          font-weight: bold;
        }
      }

      .navbar-item {
        color: black;
        font-family: Manrope;
        padding: 25px 15px;
      }
    }

  }
}

@media (min-width: 1440px) {
  .DesktopHeader {
    max-width: 1200px;
  }
}
